@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(/css/global.css);

/* worklist */
.worklist__text {
  line-height: 1.4rem;
  text-align: center;
  margin-bottom: var(--spacing-2);
}

.worklist__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 1024px;
}

.worklist__img {
  width: 100%;
  display: block;
}
